@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Raleway", sans-serif;
}

.navbar-brand {
font-family: 'Playfair Display', serif;
font-weight: 100;
}

h1 {
font-family: 'Playfair Display', serif;
color:lime;
font-weight: 200;
}
/* Hero Section */

#hero-section .container {
  background-image: url("../img/portraitjo_bw.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin-top: 100px;
  height: 400px;
}

#hero-section h1 {
  margin-top: 100px;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}